@import "~react-mosaic-component/react-mosaic-component.css";
@import "~@blueprintjs/core/src/blueprint";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/scss/variables";
@import "~react-table/react-table.css";

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: $black;
  margin: 0;
}

.hidden {
  visibility: hidden;
  display: none;
}

.center {
  text-align: center;
}

* {
  outline: none !important;
}

ul {
  background-color: transparent !important;
}

.cardResult {
  position: relative;
  text-align: center;
  height: 200px;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-top: 3%;
}

#aceEditor {
  z-index: 0;

  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    opacity: 0.7;
    margin-right: 10px;
    z-index: 100;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $dark-gray5;
  }
}

.mosaic {
  flex: 1 1 auto;
  position: inherit;

  .mosaic-root {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 20px;
    left: 0;
  }

  .mosaic-split {
    background-color: $dark-gray5;
  }

  .mosaic-split.-row {
    width: 3px;
  }

  .mosaic-split.-column {
    height: 3px;
  }

  .mosaic-tile {
    margin: 0;
  }
}

.no-database {
  width: 100%;
  height: 83px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;

  h3 {
    color: $dark-gray5;
  }
}

.pt-card {
  .footer-button {
    text-align: right;
    margin-top: 20px;
  }
}

.pt-tabs {
  height: 95%;
  overflow: hidden;

  .pt-tab-panel {
    height: 90%;
  }
}

.ReactTable {
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    opacity: 0.7;
    z-index: 100;
    cursor: e-resize;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
  }

  .-btn {
    color: #fff !important;
  }

  .-header {
    font-weight: bold;
    background-color: $dark-gray4;
  }

  .rt-tbody {
    margin-top: 25px;
  }

  .rt-th {
    input {
      @extend .pt-input;

      border: 0 !important;
      background-color: $dark-gray4 !important;
    }
  }

  .-pagination input,
  .-pagination select {
    background: rgba(0, 0, 0, 0.2) !important;
    color: #fff;
  }
}

.database-select {
  margin: 0;
  font-size: 10px;
  font-weight: bold;

  select {
    font-size: 11px;
    height: 20px;
  }

  &::after {
    font-size: 14px;
    position: relative;
    right: 19px;
    top: 1px;
    display: none;
    visibility: hidden;
  }

  &.pt-select.pt-minimal select:active {
    height: 20px;
  }

  &.pt-select.pt-minimal select:hover {
    height: 20px;
  }
}

.process-component {
  .no-data {
    width: 100%;
    text-align: center;

    h5 {
      padding: 20px;
      color: $dark-gray3;
    }
  }

  .chart {
    padding: 20px;
    height: 150px;
    width: 100%;
    position: absolute;
    bottom: 50px;
    animation: slide-up 0.2s ease;

    h5 {
      color: $gray5 !important;
    }
  }

  .process-list {
    padding: 20px;
    width: 100%;
    height: 65vh;
    overflow: hidden;
    position: fixed;
    color: $light-gray1;

    .pt-card {
      width: 15%;
      min-width: 340px;
      float: left;
      margin: 5px;
      animation: slide-up 0.2s ease;

      &.danger {
        background-color: $red1;
      }

      &.warning {
        background-color: $gold1;
      }

      button {
        margin-top: 10px;
      }
    }
  }
}

.settings-list {
  padding: 30px;
  width: 100%;
  height: 85%;
  overflow: hidden;
  position: fixed;
  color: $light-gray1;

  .item {
    padding-right: 40%;
    padding-left: 100px;
    animation: slide-up 0.2s ease;
  }
}

.settings-search {
  animation: slide-up 0.2s ease;

  .pt-input {
    background-color: transparent;
    box-shadow: inherit;
    font-size: 14px !important;

    &:focus {
      box-shadow: inherit;
    }
  }
}

.database-topology {
  padding: 30px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  color: $light-gray1;
}

pre {
  overflow-x: scroll;

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    opacity: 0.7;
    z-index: 100;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: transparent;
    cursor: pointer !important;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
}
